extends layout

head
   link(rel='stylesheet', href='/stylesheets/about.css')
   
block mainContent
  .top-offset
    h1 About Us 

  #container
    .name
      img#famous-bison-headshot(img='', src='https://imgur.com/aiBN0Id.jpg', alt='picture_of_zebra') 
      p April
    .name
      img#doubtful-stork-headshot(img='', src='https://imgur.com/gIiU5mv.jpg', alt='picture_of_lion') 
      p Jeremy
    .name
      img#rich-pheasant-headshot(img='', src='https://i.imgur.com/VLgY4Pc.jpg', alt='picture_of_ostrich') 
      p Diane
    .name 
      img#healthy-hedgehog-headshot(img='', src='https://imgur.com/MN2hVnt.jpg', alt='picture_of_elephant') 
      p Lucia
    .name 
      img#something-placer-headshot(img='', src='https://imgur.com/r2IO03v.jpg', alt='picture_of_monkey') 
      p Jessica
     
