extends layout

head
   link(rel='stylesheet', href='/stylesheets/about.css')
   
block mainContent
  .top-offset
  h1 About Us 
  .row
    .person
      .name#famous-bison-name April
      img#famous-bison-headshot(img='', src='https://imgur.com/aiBN0Id.jpg', alt='picture_of_zebra')
      .name#doubtful-stork-name Jeremy
      img#doubtful-headshot(img='', src='https://imgur.com/gIiU5mv.jpg', alt='picture_of_lion')
      .name#rich-pheasant-name.name  Diane
      img#rich-pheasant-headshot(img='', src='https://i.imgur.com/VLgY4Pc.jpg', alt='picture_of_ostrich')
      .name#healthy-hedgehog-name.name  Lucia
      img#healthy-hedgehog-headshot(img='', src='https://imgur.com/MN2hVnt.jpg', alt='picture_of_elephant')
      .name#something-placer-name.name  Jessica
      img#something-placer-headshot(img='', src='https://imgur.com/r2IO03v.jpg', alt='picture_of_monkey')
