extends layout


block logoImg
  img#logo.navbar-brand(src='/images/logo_green.png', height='60')

block mainContent
  .skinny-container
    h1 Who's (Been) Having Fun?
    h2 All Events
    div
      include fragments/events-list
    btn
      a(href='/events/new') Create a new event
