extends layout



block mainContent
  .skinny-container
    h1 Who's (Been) Having Fun?
    div
      include fragments/events-list
    a(href='/events/new') 
      btn.btn-universal.btn
        | Create a new event
        i.fa.fa-long-arrow-right(style="margin-left: 5px")
