extends layout

block extraHead
  link(rel="stylesheet", href="/stylesheets/index-override.css")

block jumbotron
  .jumbotron
    .container
      h1.jumbo-text I thought you were bringing the tequila.
      h2.jumbo-text.pad-after
        | No, I thought 
        em you
        |  were!
      h3.jumbo-text.pad-after Know who's bringing what.
      p
        a.btn.btn-lg.btn-default.jumbo-text(href='/events/new', role='button') Plan a better event now →

block mainContent
  .skinny-container
    .row
      h2 Ever had this happen? 
      img#imessage(data-src='/images/imessage.png', src='/images/imessage.png', width='300px')
      .wbw-description(style='white-space:pre;')
        | Keep those angry emojis in check with Who Brings What. 
        br
        strong Add potluck items 
        | to your event and 
        strong assign RSVP'd invitees. 
        br
        | Planning a potluck has never been easier!
    .row
    .row
      h2
        a(id="new", href='/events/new') Create an event
        |  or join one below
      include fragments/events-list
      a(href='/events') 
        btn.btn.btn-universal
          | view all
          i.fa.fa-long-arrow-right(style="margin-left: 5px")
    .row
  script(src="/javascripts/createevent.js")
