@import url(https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto:400,500);

*:focus {
outline: none;
}

/*get rid of round corners throughout*/
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
          border-bottom-top-radius: 0 !important;
          border-bottom-bottom-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
          border-bottom-right-radius: 0 !important;

}

.form-control {
  border-color: gray;
  box-shadow: none;
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
          border-bottom-top-radius: 0 !important;
          border-bottom-bottom-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
}


.lazyload {
    opacity: 0;
}

.lazyloading {
    opacity: 1;
    transition: opacity 300ms;
    background: #f7f7f7 url('/images/loader.gif') no-repeat center;
}


/*#logo {
  width: 20%;
}*/

.container {
}

.skinny-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1.5em;
  text-align: center;
}

#bootstrap-override body {
  padding: 50px;
  /*font-family: "Helvetica Neue" !important;*/
}


.event {
  list-style-type: none;
  text-align: left;
  margin-bottom: 30px;
}

.event h4 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.event-info {
  width: 80%;
  float: left;
}

.event-attending{
  width: 20%;
  float: left;
  text-align: center;
  color: white;
  background: rgb(175, 175, 175);
  padding: 10px; 
}

nav {
  height: 60px;
}

.navbar-inner {
  background:transparent;
}


.btn-primary {
  background-color: white;
  color: black;
  border: 5px solid black;
}

.btn { /* Makes ghost buttons */



	border-width: 2px;
	/*font-family: "Oswald", sans-serif;*/

	-webkit-border-radius: 0;
	-moz-border-radius:    0;
	border-radius:         0;

	/* CSS Transition */
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;
}

.jumbotron .btn {

	background: transparent;
	color: #FFFFFF;

}


.pad-after {
  padding-bottom: 1em;
}

.jumbotron {
  /*background-image: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.8)
    ), url('/images/cole-picnic-crop.jpg');*/
  background-size: cover;
  min-height: 500px;
  text-align: center;

}

.jumbotron .btn-default:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.jumbo-text {
  color: white !important;
  border-color: white !important;
}

.center {
  margin: 0 auto;
}

.top-offset {
  margin-top: 50px;
}

#create-event input {
  margin-bottom: 1em;
}

#create-event label {
  display:none;
}

#create-event input[name="items"] {
  /*min-height: 150px;*/
}

#create-event input[type="submit"] {
  margin-top: 50px;
}

.giant {
  font-size: 250%;
  text-align: center;
}

.eventlist {
  padding: 0px;
}

.pick-date > .form-group {
  margin: 5px;
}

.date-form {
  border: none;
  box-shadow: none;
}

.create-event-btn {
  border-color: black;
}

#new {
  text-decoration:underline;
}

footer {
  margin-bottom: 1em;
}

.name {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  font-size: 1.25em;
}

.name > img {
  padding: 1em;
}

.name > span {
  display: block;
}